AWSTemplateFormatVersion: 2010-09-09
Resources:
{% for line in item.linedata %} 
  Ec2Instance{{ line.num }}:
    Type: AWS::EC2::Instance
    Properties:
      ImageId: {{ line.imageid }}
      KeyName: {{ keypair }}
      InstanceType: {{ line.instance_type }}
      NetworkInterfaces:
        - AssociatePublicIpAddress: true
          DeviceIndex: 0
      UserData:
        Fn::Base64: !Sub |
          <powershell>
          Invoke-WebRequest -Uri https://raw.githubusercontent.com/ansible/ansible/devel/examples/scripts/ConfigureRemotingForAnsible.ps1 -OutFile ConfigureRemotingForAnsible.ps1
          powershell -ExecutionPolicy RemoteSigned .\ConfigureRemotingForAnsible.ps1
          $admin = [ADSI]("WinNT://./administrator, user")
          $admin.SetPassword("{{ password }}")
          </powershell>
      Tags:
        - Key: env
          Value: {{ env }}
        - Key: os
          Value: {{ line.os }}
        - Key: version
          Value: {{ line.version }}
        - Key: Name
          Value: {{ line.name }}
  EbsVolume{{ line.num }}:
    Type: AWS::EC2::Volume
    Properties:
      AvailabilityZone: !GetAtt Ec2Instance{{ line.num }}.AvailabilityZone
      Size: 10
  MountPoint{{ line.num }}:
    Type: AWS::EC2::VolumeAttachment
    Properties:
      Device: xvdf
      InstanceId: !Ref Ec2Instance{{ line.num }}
      VolumeId: !Ref EbsVolume{{ line.num }}
    DependsOn:
      - Ec2Instance{{ line.num }}
      - EbsVolume{{ line.num }}
{% endfor %}
